/*colors*/
:root {
    --background-color: #f2f2f2;

    --background-one: #9aac8a;
    --background-two: #49733d;
    --background-three: #bdd2ea;
    --background-five: #4f99cc;
    --background-six: #9aac8a;

    --red: #d93b3b;
    --grey: #939598;

    --dark-text-color: #08250e;
    --light-text-color: #f2f2f2;
}
