/*fonts*/
@font-face {
  font-family: RalewayLight;
  src: url(../assets/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: RalewayMedium;
  src: url(../assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: RalewayThin;
  src: url(../assets/fonts/Raleway-Thin.ttf);
}
